<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>Limonium Home</title>
    <link rel= "stylesheet" href= "/public/bootstrap/css/bootstrap.min.css">
    <link rel= "stylesheet" href= "/public/stylesheets/limoniumhome.css">
</head>
<body>
    <div class= "mainpage">
        <div class= "1stpage" id= "1stpage"></div>
        <div class= "container">
            <div class= "row">
                <div class="title-text">
                    <div class="col-md-12"  headfontsize>
                        <h1 class="headh1content">
                            电子发票综合服务平台<br>
                        </h1>
                        <p>首页    关于    登录/注册</p>
                        <p class="btn1">
                            <a class="btn btn-success btn-lg" href="#">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>