h1,h3,p,a,button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-left: 50px;
}

h1 {
    color: #5cb85c;
}

h2 {
    color: darkolivegreen;
    margin-left: 50px;
    margin-top: 20px;
}

.mainpage {
    height: 280px;
    background-color: #737373;
}

.formContainer {
    margin-top: 20px;
    margin-left: 50px;
}

.form-group {
    margin-top: 20px;
    margin-left: 50px;
}

.page-1st {
    height: 300px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#page1st {
    background-image: url("/asset/images/favicon.png");
    background-repeat: no-repeat;
    background-size: 100px, 100px;
    background-position: abbr;
}

.headh1content {
    margin-top: 20px;
    line-height: 90px;
}

.title-text {
    margin-left: 50px;
}

.headfontsize h1 {
    font-size: 50pt;
    color: #ffffff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}